.menu-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu__item {
    flex: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid;
}

.menu__item:first-child {
    border-top: none;
}

.menu__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    font-size: 4vh;
    letter-spacing: -0.02em;
}

.menu__item-link:hover {
    color: inherit;
}

.menu__item-link:focus:not(:focus-visible) {
    color: inherit;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translate3d(0, 101%, 0);
}

.marquee__inner-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.marquee__inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: fit-content;
    will-change: transform;
}

.marquee__part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.marquee span {
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4vh;
    line-height: 1;
    padding: 0 1vw;
    letter-spacing: -0.02em;
}

.marquee__img {
    width: 180px;
    height: 6vh;
    margin: 1.5em 2vw;
    padding: 0.8em 0;
    border-radius: 40px;
    background-size: cover;
    background-position: 50% 50%;
}

@media (max-width: 768px) {
    .menu__item-link {
        font-size: 3vh;
    }

    .marquee span {
        font-size: 3vh;
    }

    .marquee__img {
        width: 120px;
        height: 5vh;
    }
}