.threads-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: auto;
}

.threads-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}